/* .logo
{
    justify-content: left;
} */
/* .container
{
    margin: 20px;
} */
.card
{
    margin-top: 40px;
}
.lead
{
    margin-top: 20px;
    text-align: center;
}





  



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .category-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .category-list li {
    display: inline-block;
    margin-right: 10px;
  }
  
  button {
    margin-top: 5px;
  }
  

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    text-align: left;
    list-style: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    
  }
  
  .dropdown-menu.show {
    display: block;
  }
  
  .dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    text-decoration: none;
    list-style: none;
  }
  
  .dropdown-item:hover,
  .dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
  }
  